{% extends 'dashboard.html' %}

{% block content %}



    <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
      <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
        <div class="d-flex align-items-end"> 
          <h2>{{stockinfo.name}}</h2>
          &nbsp;&nbsp;{{stockinfo.code}}
          &nbsp;
            <!-- Button trigger modal -->
            <a class="btn btn-success" href="#" role="button" data-toggle="modal" data-target="#exampleModal">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-bookmark-plus" viewBox="0 0 16 16">
                <path fill-rule="evenodd" d="M8 4a.5.5 0 0 1 .5.5V6H10a.5.5 0 0 1 0 1H8.5v1.5a.5.5 0 0 1-1 0V7H6a.5.5 0 0 1 0-1h1.5V4.5A.5.5 0 0 1 8 4z"/>
                <path d="M2 2a2 2 0 0 1 2-2h8a2 2 0 0 1 2 2v13.5a.5.5 0 0 1-.777.416L8 13.101l-5.223 2.815A.5.5 0 0 1 2 15.5V2zm2-1a1 1 0 0 0-1 1v12.566l4.723-2.482a.5.5 0 0 1 .554 0L13 14.566V2a1 1 0 0 0-1-1H4z"/>
                </svg>
            관심목록제거 
            </a>

            <!-- Modal -->
            <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">{{stockinfo.name}}을 관심목록에서 제거하시겠습니까?</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">취소</button>
                    <button type="button"  onclick="location.href='{% url 'stock:delete_favor' stockinfo.id%}'" class="btn btn-success">관심목록 제거</button>
                </div>
                </div>
            </div>
            </div>


        </div>
        {% with detailinfo.0 as topinfo %}
        <div class="d-inline-flex  mb-2 mb-md-0">

          <div class="row">
            <div class="col-sm text-center" style="width:250px;">
              PER</br>
              {{ topinfo.0 }}
            </div>
            <div class="col-sm text-center">
              12M PER</br>
              {{topinfo.1}}
            </div>
            <div class="col-sm text-center">
              업종 PER</br>
              {{topinfo.2}}
            </div>
            <div class="col-sm text-center">
              PBR</br>
              {{topinfo.3}}
            </div>
            <div class="col-sm text-center">
              배당수익률</br>
              {{topinfo.4}}
            </div>
          </div>
        </div>
        {% endwith %}
      </div>
      
      <canvas class="my-3 w-50 border" id="myChart" width="900" height="380"></canvas>

      <script>
      var ctx = document.getElementById('myChart');
      
      var closedt = {{ chartcloseinfo|safe }};
      var dtdt = {{ chartdateinfo|safe }};
      var myChart = new Chart(ctx, {
          type: 'bar',
          data: {
              labels: dtdt,
              datasets: [{
                  label: [1],
                  data: closedt,
                  borderWidth: 1
              }]
          },
          options: {
              scales: {
                  yAxes: [{
                      ticks: {
                          beginAtZero: true
                      }
                  }]
              }
          }
      });
      </script>


      <!-- 시세현황 -->

      <div class="p-4 p-md-2 mb-4 border-bottom text-white rounded bg-secondary "><h4>시세현황</h4></div>

      {% with detailinfo.1 as priceinfo %}
      <div class="table-responsive">
        <table class="table">
        <colgroup>
        <col class = "table-secondary" style="width: 23%;">
        <col >
        <col class = "table-secondary" style="width: 23%;">
        <col >
        </colgroup>
        <tbody>
        <tr>
        <th scope="row"><div>종가/ 전일대비</div></th>
        {% if deltaprice %}
        <td class = "text-end text-danger"> {{priceinfo.0}}</td>
        {% else %}
        <td class = "text-end text-primary"> {{priceinfo.0}}</td>
        {% endif %}
        <th scope="row"><div>거래량</div></th>
        <td class = "text-end"> {{priceinfo.1}} </td>
        </tr>
        <tr>
        <th scope="row"><div>52주.최고가/ 최저가 </div></th>
        <td class = "text-end"> {{priceinfo.2}} </td>
        <th scope="row"><div>거래대금<span>(억원)</span></div></th>
        <td class = "text-end"> {{priceinfo.3}} </td>
        </tr>
        <tr>
        <th scope="row"><div>수익률<span>(1M/ 3M/ 6M/ 1Y)</span></div></th>
        <td class = "text-end"> {{priceinfo.4}} </td>
        <th scope="row"><div>외국인 보유비중</div></th>
        <td class = "text-end"> {{priceinfo.5}} </td>
        </tr>
        <tr>

        <th scope="row">
            시가총액<span>(상장예정포함,억원)</span>
          </div>
        </th>
        <td class = "text-end"> {{priceinfo.6}} </td>
        <th scope="row"><div>베타<span>(1년)</span></div></th>
        <td class = "text-end"> {{priceinfo.7}} </td>
        </tr>
        <tr>
        <th scope="row"><div><!--<dl><dt>시가총액(보통주)</dt><dd>종가(보통주)*상장주식수(보통주)</dd></dl>-->
        시가총액<span>(보통주,억원)</span></div></th>
        <td class = "text-end"> {{priceinfo.8}} </td>
        <th scope="row"><div>액면가</div></th>
        <td class = "text-end"> {{priceinfo.9}} </td>
        </tr>
        <tr>
        <tr>
        <th scope="row"><div>발행주식수<span>(보통주/ 우선주)</span></div></th>
        <td class = "text-end"> {{priceinfo.10}} </td>
        <th scope="row">
          <div>
            유동주식수/비율<span>(보통주)</span>
          </div>
        </th>
        <td class = "text-end"> {{priceinfo.11}} </td>
        </tr>
        </tbody>
        </table>
      </div>
      {% endwith %}

      <!-- 실적이슈  -->
      <div class="p-4 p-md-2 mb-4 border-bottom text-white rounded bg-secondary "><h4 class=>실적이슈</h4></div>

      {% with detailinfo.2 as issueinfo %}
      <div class="table-responsive">
        <table class="table">
        <colgroup>
        <col >
        <col >
        <col >
        <col >
        </colgroup>
        <thead>
        <tr>
        <th class = "text-center" scope="col">잠정실적발표일</th>
        <th class = "text-center" scope="col">잠정실적<span class='stxt'>(영업이익,&nbsp;억원)</span></th>
        <th class = "text-center" scope="col">&nbsp;&nbsp;예상실적대비<span class='stxt'>(%)</span></th>
        <th class = "text-center" scope="col">&nbsp;&nbsp;전년동기대비<span class='stxt'>(%)</span></th>
        </tr>
        </thead>
        <tbody>
        <tr>
        <td class = "text-center">{{issueinfo.0}}</td>
        <td class = "text-center">{{issueinfo.1}}</td>
        <td class = "text-center">{{issueinfo.2}}</td>
        <td class = "text-center">{{issueinfo.3}}</td>
        </tr>
        </tbody>
        </table>
      </div>
      {% endwith %}


      <!-- 운용사별 보유현황-->
      <div class="p-4 p-md-2 mb-4 border-bottom text-white rounded bg-secondary"><h4>&nbsp;운용사별 보유현황</h4></div>

      {% with detailinfo.3 as managerinfo %}
      <div class="table-responsive">
        <table class="table">
        <colgroup>
        <col style="width: 25%;">
        <col >
        <col >
        <col >
        <col >
        </colgroup>
        <thead>
        <tr>
        <th scope="col">운용사명</th>
        <th scope="col">보유수량(천주)</th>
        <th scope="col">시가평가액(억원)</th>
        <th scope="col">상장주식수내비중(%)</th>
        <th scope="col">운용사내비중(%)</th>
        </tr>
        </thead>
        <tbody>
        {% for rows in managerinfo %}
          <tr>
          {% for row in rows %}
            {% if forloop.counter0 > 0 %}
              <td class="r">{{row}}</td>
            {% else %}
              <th scope="row">{{row}}</th>
            {% endif %}
          {% endfor %}
          </tr>
        {% endfor %}
        </tbody>
        </table>
      </div>
      {% endwith %}


      <div class="row">
        <div class="col">
        <!-- 주주현황 -->
        <div class="p-4 p-md-1 mb-4 border-bottom text-white rounded bg-secondary "><h4>&nbsp;주주 현황</h4></div>

        {% with detailinfo.4 as holderinfo %}
        <div class="table-responsive">
          <table class="table table-sm">
          <colgroup>
          <col style="width: 36%;">
          <col >
          <col >
          <col >
          </colgroup>
          <thead>
          <tr>
          <th scope="col">항목</th>
          <th scope="col">보통주</th>
          <th scope="col">지분율</th>
          <th scope="col">최종변동일</th>
          </tr>
          </thead>
          <tbody>
          {% for rows in holderinfo %}
            <tr>
            {% for row in rows %}
              {% if forloop.counter0 > 0 %}
                <td class="r">{{row}}</td>
              {% else %}
                <th scope="row">{{row}}</th>
              {% endif %}
            {% endfor %}
            </tr>
          {% endfor %}

          </tbody>
          </table>
        </div>
        {% endwith %}

        </div>
        <div class="col">
        <!-- 주주구분 현황 -->
        <div class="p-4 p-md-1 mb-4 border-bottom text-white rounded bg-secondary "><h4>&nbsp;주주구분 현황</h4></div>

        {% with detailinfo.5 as holderinfo %}
        <div class="table-responsive">
          <table class="table table-sm">
          <colgroup>
          <col style="width: 36%;">
          <col >
          <col >
          <col >
          </colgroup>
          <thead>
          <tr>
          <th scope="col">주주구분</th>
          <th scope="col">대표주주수</th>
          <th scope="col">보통주</th>
          <th scope="col">지분율</th>
          <th scope="col">최종변동일</th>
          </tr>
          </thead>
          <tbody>

          {% for rows in holderinfo %}
            <tr>
            {% for row in rows %}
              {% if forloop.counter0 > 0 %}
                <td class="r">{{row}}</td>
              {% else %}
                <th scope="row">{{row}}</th>
              {% endif %}
            {% endfor %}
            </tr>
          {% endfor %}
          </tbody>
          </table>
        </div>
        {% endwith %}


        </div>
      </div>
    </main>
    
{% endblock content %}